/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <keys_de.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_escape {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
&kp TAB     &kp DE_Q    &kp DE_W    &kp DE_E    &kp DE_R    &kp DE_T                &kp DE_Z   &kp DE_U    &kp DE_I    &kp DE_O        &kp DE_P        &kp BSPC
&kp LSHFT   &kp DE_A    &kp DE_S    &kp DE_D    &kp DE_F    &kp DE_G                &kp DE_H   &kp DE_J    &kp DE_K    &kp DE_L        &kp UP_ARROW    &kp DELETE
&kp LCTRL   &mo 1       &kp DE_Y    &kp DE_X    &kp DE_C    &kp DE_V                &kp DE_B   &kp DE_N    &kp DE_M    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW

                                    &kp LEFT_ALT  &mo 1     &kp ENTER               &kp SPACE   &mo 2       &kp LEFT_ALT
            >;
        };

        number_layer {

            bindings = <
&kp TAB         &kp DE_A_UMLAUT     &kp DE_O_UMLAUT     &kp DE_U_UMLAUT &kp DE_ACUTE    &kpDE_GRAVE                 &kp DE_N7  &kp DE_N8  &kp DE_N9  &kp DE_PLUS        &none           &kp BSPC
&kp LEFT_SHIFT  &kp DE_AT_SIGN      &kp DE_EURO         &none           &none           &none                       &kp DE_N4  &kp DE_N5  &kp DE_N6  &kp DE_MINUS       &kp UP_ARROW    &kp DELETE
&kp LCTRL       &kp DE_PIPE         &kp DE_TILDE        &none           &none           &none                       &kp DE_N1  &kp DE_N2  &kp DE_N3  &kp LEFT_ARROW     &kp DOWN_ARROW  &kp RIGHT_ARROW

                                                        &kp LGUI        &trans          &kp ENTER                   &kp SPACE   &kp DE_N0  &kp DE_COMMA
            >;
        };

        symbol_layer {
            bindings = <
&kp TAB    &kp DE_CARET         &kp DE_DOUBLE_QUOTES    &kp DE_AMPERSAND    &kp DE_DOLLAR       &kp DE_PERCENT          &kp DE_EXCLAMATION  &kp DE_SLASH    &kp AMPS            &kp DE_LEFT_PARENTHESIS     &kp DE_RIGHT_PARENTHESIS    &kp BSPC
&kp LCTRL  &kp DE_AMPERSAND     &kp DE_SLASH            &kp                 &kp                 &kp                     &kp DE_QUESTION     &kp EQUAL       &kp DE_HASH         &kp DE_LEFT_BRACKET         &kp DE_RIGHT_BRACKET        &kp DELETE
&kp LSHFT  &kp DE_LESS_THAN     &kp DE_GREATER_THAN     &kp DE_SLASH        &kp DE_BACKSLASH    &kp                     &kp DE_UNDERSCORE   &kp PLUS        &kp DE_ASTERISK     &kp DE_LEFT_BRACE           &kp DE_RIGHT_BRACE          &kp TILDE

                                                        &kp LGUI            &trans              &kp SPACE               &kp RET    &trans     &kp RALT
            >;
        };
    };
};

&led_strip { chain-length = <27>; };

&nice_view_spi { cs-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>; };
